body {
    background-color: #20242c;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30pt;
}
a:link, a:visited{
    color: white;
    text-decoration: none;
}

b {
    font-weight: bolder;
}
.conteudo{
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.divskins{
    background-color: #13191c;
    width: 240px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.507);
}
.divskins p {
    margin: 0;
}

;