@charset "UTF-8";
* {
    margin: 0;
}
body {
    background-color: #20242c;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30pt;
    font-variant: small-caps;
}
a:link, a:visited{
    color: white;
    text-decoration: none;
}

b {
    font-weight: bolder;
}
.conteudo{
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.divskins:hover{
    margin-right: 40px;
    margin-top: -10px;
    box-shadow: 15px 20px 0px #4c0907;
    }
.divskins{
    background-color: #13191c;
    width: 240px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.507);
    overflow: hidden;
}
.divskins img{
    width: 240px;
    height: 240px;
    margin: 0;
    background-color: #4c0907;
    border-radius: 10px;
}

.divskins:hover img{
    background-color: #8e180c;
}
.divskins p {
    margin: 0;
    padding-bottom: 20px;
    padding-top: 20px
}

;